.content{
	height:95vh;
	padding: 0 1vw 0 1vw!important;
	overflow:hidden;
	overflow-y:auto!important;
	padding-bottom:50px;
}

.content .fas i{
	display:inline;
}

.header-button{
	position:relative;
	height:5vh;
	width:10vw;
	font-size:2vh;
	left:37vw;
	margin-bottom:5px;
}

.welcome-header{
	top:5vh;
	left: 1vw;
	min-width:100%;
	width:100%;
}

.group-description{
	position:relative;
	margin:0;
	padding:0;
	top: 5vh;
	width: 68vw;
	min-height:20vh;
	max-height:20vh;
	overflow-y: auto;
	background-color: lightgray;
}


.card{
	min-height:40%;
	min-width:25%;
	max-width:25%;
	margin:0 ;
	padding:0;
	border-radius:0;
}

.search-result{
	position:relative;
	top:10vh!important;
}

.card-group{
	position:relative;
	text-align:center;
	top:10vh!important;
	max-height:100vh;
	height:inherited;
	padding-bottom:10vh!important;
}

.search-result{
	min-height:20px;
	text-align:right;
	padding-right:2vw;
}