body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg {
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 95vh;
    min-width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.welcome-header{
	position:relative;
	display:inline;
	margin:0;
	padding:0;
	left:5vw;
	top:15vh;
	font-size:5vh;
}

.nav {
	position:relative;
	top: 10vh!important;
	margin: 0 5vw 0 0;
	float:right;
	padding:0;
	border-bottom:none;

}

.media{
	/* min-height: 20%;
	max-height: 20%; */
	overflow:hidden;
}

.media:hover{
	max-height: 100%;
}


.container .messages{
	position:relative;
	margin:0;
	padding:0;
	top: 10vh;
	left: 5vw;
	width: 60vw;
	min-height:80vh;
	height: 80vh;
	padding-bottom:50px;
	overflow-y: auto;
	background-color: rgba(255, 255, 255, 0.9);
}

.nav-tabs .nav-link {
    border: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.profile-header-img img.rounded-circle {
    width: 64px;
    height: 64px;
    border: 2px solid #0068ff;
}
