.main-body{
	position:relative;
	display:flex;
	top:50px;
	width:100%;
	max-width:100%;
	margin:0;
	padding:0;
}


body{
	height:100%;
	overflow:hidden;
}

.container .content{
	position:relative;
	margin:0;
	padding:0;
	left:15vw;
	width:70vw;
	min-height:80vh;
}

/* Panels and Modals */
.panel.panel-default, .modal-content {
    border-radius: 0px;
}

/* Tables */
.table > thead > tr > th {
    border: none;
}

.table > tbody > tr > td {
    vertical-align: middle;
    border: none;
}

.table > tbody > tr {
    border-bottom: 1px solid rgba(222, 226, 230, 0);
}

.table > tbody > tr:hover {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(222, 226, 230, 1);
    /*border-bottom: 1px solid #dee2e6;*/
}

.action-button:hover {
    cursor: pointer;
}

input.editted, button.editted {
    color: green;
    fill: green;
}

.error-message {
    color: red;
}

.invalid-input, .invalid-input:focus {
    border: 1px solid red;
}

/* Nav tabs */
.nav-tabs>li>a {
    margin-right: 0;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.4);
}

.nav-tabs>li.active>a {
    background: rgba(255, 255, 255, 0.8);
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:active {
    background: rgba(255, 255, 255, 0.8);
}