.main-body{
	position:relative;
	display:flex;
	top:50px;
	width:100%;
	max-width:100%;
	margin:0;
	padding:0;
}


body{
	height:100%;
	overflow:hidden;
}

.container .content{
	position:relative;
	margin:0;
	padding:0;
	left:15vw;
	width:70vw;
	min-height:80vh;
}

/* Tables */
.table > thead > tr > th {
    border: none;
}

.table > tbody > tr > td {
    vertical-align: middle;
    border: none;
}

.table > tbody > tr {
    border-bottom: 1px solid rgba(222, 226, 230, 0);
}

.table > tbody > tr:hover {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(222, 226, 230, 1);
    /*border-bottom: 1px solid #dee2e6;*/
}

.action-button:hover {
    cursor: pointer;
}

input.editted, button.editted {
    color: green;
}

.error-message {
    color: red;
}
