header .container{
	height:50px;
	width:100%;
	padding:0;
}

body{
	height:100%;
	overflow:hidden;
}

.navbar{
	padding: 0.5% 15% 0.5% 15%;
	position:fixed;
	height: 50px;
}

.nav-link:hover{
	color: gray!important;
}

.main-body{
	position:relative;
	display:flex;
	top:50px;
	width:100%;
	max-width:100%;
	margin:0;
	padding:0;
}

.input-group-append{
	border-radius: .25rem;
	background-color:white!important;
}

.btn-outline-success{
		background-color:white!important;
}

.modal{
	top:30vh;
}