header .container{
	height:50px;
	width:100%;
	margin:0;
}

.navbar{
	padding: 0.5% 15% 0.5% 15%;
	position:fixed;
	height: 50px;
}

.nav-link:hover{
	color: gray;
}

.input-group-append{
	border-radius: .25rem;
	background-color:white;
}

.btn-outline-success{
		background-color:white;
}

.modal{
	top:30vh;
}