.left-form{
	position:relative;
	width:50%;
	height:calc(100% - 50px);
	float:left;
	overflow:hidden;
}

.right-form{
	position:relative;
	width:50%;
	height:95vh;
	float:left;
	overflow-x:hidden;
}

.personal-info{
	height:auto;
}

.fas.fa-edit.fa-2x{
	position:relative;
	float:right;
	z-index:1000;
}

.user-edit{
	float:right;
	position:relative;
	bottom:0;
}

.card{
	margin:0 auto;
	top:5vh;
	border:none;
}

.custom-title{
	text-align: center;
}
.card-text{
	text-align:left;
}

.personal-info{
	position:relative;
	top:5vh;
	padding-right:10vh;
}

.security{
	position:relative;
	padding-right:10vh;
}

.accordion{
	position:relative;
	top:5vh;
}


form{
	min-height:24px;
}

.personal-button{
	visibility:hidden;
}

#edit-button{
	position:relative;
	float:right;
}

#description-submit{
	visibility:hidden;
	white-space: nowrap;
	
}

#linkedin-submit{
	visibility:hidden;
}

#role-submit{
	visibility:hidden;
}


#employer-submit{
	visibility:hidden;
}

#description-submit #linkedin-submit #role-submit #employer-submit{
	float:right;
}

.edit-box{
	display:block;
	white-space: nowrap;
}

.svg-pencil{
	position:relative;
	float:right;
	z-index:1000;
	fill:blue;
}

.svg-pencil:hover{
	fill:pink;
}

.svg-pencil-add{
	fill:blue;
}

.user-svg{
	margin:0 auto;
}